<div id="<%= dom_id news %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= news.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= news.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Published on:</strong>
    <%= news.published_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image:</strong>
    <%= news.image %>
  </div>
</div>
