<div id="<%= dom_id member %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= member.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Number:</strong>
    <%= member.number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= member.position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Throws bats:</strong>
    <%= member.throws_bats %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= member.bio %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Avatar:</strong>
    <%= member.avatar %>
  </div>
</div>
